.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 4px 30px rgb(0 0 0 / 8%);
  border-radius: 6px;
  align-items: center;
}

.card__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px;
  box-sizing: border-box;
}
.card__title-heart-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}
.card__movies-button {
  width: 100px;
  height: 29px;
  margin: 18px auto;
  background-color: #f4f4f4;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
}
.card__movies-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.card__movies-button-active {
  background: #ee3465 url(../../images/icon-movie-added.svg);
  color: #ee3465;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
}
.card__movies-button-delete {
  /* background-image: url(../../images/color10.svg); */
  /* background-color: red; */
  /* opacity: 0; */
  /* transition: 1s ease all;
  width: 100px;
  height: 29px; */
  background: #ee3465 url(../../images/icon-movie-delete.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  width: 100px;
  height: 29px;
  background-color: #f4f4f4;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin: 18px auto;
}
.card__timeline {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #8b8b8b;
}
.card__img {
  width: 100%;
  height: 200px;
}

.card__marker:hover .card__movies-button-delete {
  opacity: 1;
}

@media (max-width: 875px) {
  .card__img {
    height: 190px;
  }
}

@media (max-width: 700px) {
  .card__title {
    font-size: 12px;
    line-height: 15px;
  }

  .card__img {
    height: 168px;
  }

  .card__movies-button-delete {
    opacity: 1;
  }
  .card {
    max-width: 93.75vw;
  }
}
