.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 70px 0;
  width: 100%;
}
.signin__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 396px;
}
.signin__logo {
  width: 38px;
  height: 38px;
  align-self: flex-start;
  padding: 0;
  margin: 0 0 40px 0;
  background-image: url(../../images/logo.svg);
}
.signin__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 40px 0;
  padding: 0;
  text-align: left;
  align-self: flex-start;
}
.signin__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.signin__form-input-bar {
  list-style: none;
  padding: 0;
  margin: 0 0 179px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
}
.signin__form-input-bar-point {
  width: 100%;
  margin: 0;
  padding: 0;
}
.signin__hint {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  align-self: flex-start;
  margin: 0;
  padding: 0;
}
.signin__input {
  width: 100%;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  background: #f4f4f4;
  border: none;
  border-radius: 8px;
}
.signin__input:focus {
  outline: none;
  border-bottom: 1px solid #4285f4;
}
.signin__btn {
  width: 100%;
  background: #4285f4;
  border-radius: 3px;
  height: 45px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  transition: 1s ease all;
}
.signin__btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.signin__text-box {
  display: flex;
  margin-top: 16px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.signin__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #4285f4;
  transition: 1s ease all;
}
.signin__link:hover {
  opacity: 0.7;
  cursor: pointer;
}
.signin__text {
  margin: 0 6px 0 0;
  padding: 0;
}
.signin__input-password {
  text-decoration: dotted;
}
.signin__input-error {
  color: #ee3465;
  border-bottom: 1px solid #ee3465;
}
.signin__error {
  color: #ee3465;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
  margin-top: 6px;
  padding: 0;
}
.signin__error-margin {
  margin-top: 5px;
}

.signin__btn-disabled {
  opacity: 0.5;
}

@media (max-width: 875px) {
  .signin {
    padding-top: 232px;
  }
  .signin__title {
    margin-bottom: 29px;
  }
  .signin__logo {
    margin-bottom: 51px;
  }
}
@media (max-width: 700px) {
  .signin {
    padding-top: 56px;
  }
  .signin__title {
    margin-bottom: 80px;
    align-self: center;
  }
  .signin__logo {
    margin-bottom: 50px;
    align-self: center;
  }
  .signin__content {
    width: calc(100% - 60px);
  }
  .signin__form-input-bar {
    margin-bottom: 267px;
  }
  .signin__text-box {
    margin-top: 14px;
    font-size: 12px;
    line-height: 15px;
  }
  .signin__text {
    margin-left: 7px;
    color: #8b8b8b;
  }
}
