.movies {
  width: calc(100% - 140px);
  margin: 0 auto;
}
.movies__search-chekbox-bar {
  display: flex;
}
.movies__search-bar {
  display: flex;
  margin: 0 auto;
  border-radius: 9px;
  padding: 0;
  height: 72px;
  margin-top: 70px;
  border-bottom: 1px solid #e8e8e8;
  justify-content: space-between;
}
.movies__search-input {
  background-color: white;
  border: none;
  color: #8b8b8b;
  font-size: 22px;
  font-weight: 500;
  width: 94px;
  height: 34px;
}

.movies__search-input-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 auto;
  position: relative;
}
.movies__search-input:focus {
  border: none;
  outline: none;
  color: black;
  border-radius: 10px;
  box-shadow: 1px 1px 6px white;
}

.movies__search-btn {
  width: 80px;
  height: 34px;
  border-radius: 48px;
  padding: 0;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s ease all;
  background-color: #3456f3;
  color: white;
}
.movies__search-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.movies__search-btn-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.movies__search-btn-label {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  padding-top: 30px;
  height: 40px;
}

.movies__search-btn-visible {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 20px;
  transition: all 0.7s ease;
}

.movies__search-btn-invisible:checked + .movies__search-btn-visible {
  background: url('../../images/tumbler.svg');
  margin: 0 14px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.movies__search-btn-invisible + .movies__search-btn-visible {
  background: url('../../images/tumbleroff.svg');
  margin: 0 14px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.movies__search-title {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}
.movies__serch-btn-box {
  display: flex;
  align-items: center;
  position: relative;
}
.movies__card {
  margin: 0 auto 0;
  display: grid;
  column-gap: 20px;
  row-gap: 38px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  padding-top: 80px;
  list-style-type: none;
}

.movies__button {
  width: 100%;
  margin: 50px auto 80px;
  padding: 0;
  border-radius: 6px;
  color: black;
  background: #f4f4f4;
  height: 36px;
  border: none;
  transition: 0.5s ease all;
}
.movies__button:hover {
  cursor: pointer;
  opacity: 0.7;
}
@media (max-width: 875px) {
  .movies {
    width: calc(100% - 60px);
  }
  .movies-saved-movies-margin {
    margin-bottom: 169px;
  }
  .movies__card {
    margin-top: 109px;
    column-gap: 30px;
    row-gap: 30px;
  }
  .movies__search-bar {
    margin-top: 80px;
  }
}
@media (max-width: 700px) {
  .movies {
    width: calc(100% - 20px);
  }
  .movies__search-btn-label {
    /* position: absolute;
    bottom: -73px;
    left: -170px;
    left: 252px;
    top: 270px; */
    padding: 0;
    border: none;
    margin: 0;
  }
  .movies__search-loop-img {
    display: none;
  }
  .movies__search-input {
    width: 100%;
  }
  .movies__search-btn {
    margin-right: 19px;
  }
  .movies__card {
    padding-top: 50px;
    row-gap: 34px;
    grid-template-columns: 93.75vw;
    width: 93.75vw;
    margin-right: auto;
    margin-left: auto;
  }
}
